* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared  */
.btn {
  padding: 12px 16px;
  border-radius: 4px;
  background-color: #30b868;
  border-style: none;
  color: white;
  cursor: pointer;
}
.btn:hover {
  background-color: pink;
  color: rgb(24, 109, 95);
}
.button-2:hover {
  background-color: pink;
  color: rgb(24, 109, 95);
}
.button-1:hover {
  background-color: pink;
  color: rgb(24, 109, 95);
}

/* main */

.navbar {
  max-width: 1600px;
  /* border: 2px solid black; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.text-area ul {
  display: flex;
  gap: 34px;
}

.text-area ul li {
  list-style: none;
}

.text-area ul li a {
  text-decoration: none;
  color: black;
}

section {
  background-image: url("./Image/hero-bg.png");
  background-size: cover;
  padding: 115px 120px 180px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.button-1 {
  color: #30b868;
  border-radius: 100px;
  padding: 8px 12px;
  border-style: none;
  margin-bottom: 16px;
  cursor: pointer;
}

.first-h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 72px;
  font-weight: 900;
}
.second-h1 {
  color: rgba(48, 184, 104, 1);
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 16px;
}

.paragraf {
  color: white;
  margin-bottom: 32px;
}
.button {
  display: flex;
  gap: 16px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.button-2 {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 0 16px;
  cursor: pointer;
}

.text-cart {
  max-width: 1600px;
  margin: 0 auto;
  /* border: 5px solid black; */
  text-align: center;
}
.texth2 {
  margin-top: 90px;
  margin-bottom: 16px;
  font-weight: 900;
  font-size: 40px;
}

.textpara {
  font-size: 16px;
  color: #627382;
  margin-bottom: 44px;
}
.cart-section {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background: rgba(255, 255, 255, 1);
}

.cart {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.image-2 {
  background: rgba(249, 85, 85, 1);
  padding: 10px;
  border-radius: 50px;
  height: auto;
  margin-top: 30px;
}
.cart h3 {
  font-weight: bold;
  font-size: 25px;
  margin: 16px 0;
}

.brain-section {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 120px 0;
  align-items: center;
}

.brain-text {
  width: 700px;
}

.brain-para {
  color: #30b868;
  margin-bottom: 16px;
}
.brainh3 {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: bold;
}
.brain-para2 {
  color: #627382;
  margin-bottom: 40px;
}

.circle {
  display: flex;
  margin-bottom: 16px;
}

.ready-to-think {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 80px 40px;
  background-color: #f7f6f2;
}

.ready-to-think h3 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 16px;
}
.ready-to-think .graf {
  color: #627382;
  margin-bottom: 24px;
}
.ready-to-think-batton {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  margin-bottom: 16px;
}
.ready-to-think .pera {
  color: #627382;
}
