*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared  */
.btn{
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    border-style: none;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: pink;
    color: rgb(24, 109, 95);
}

/* main */


.navbar{
    max-width: 1600px;
    /* border: 2px solid black; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    
}
.text-area ul{
    display: flex;
    gap: 34px;
}

.text-area ul li{
   list-style: none; 
}

.text-area ul li a{
    text-decoration: none;
    color: black;

}